In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Downloads\car_evaluation.csv')

In [3]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
data.shape

(1728, 7)

In [5]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [7]:
X=data.iloc[:,:-1]
y=data.outcome
from sklearn.preprocessing import LabelEncoder
enc1=LabelEncoder()
enc2=LabelEncoder()
enc3=LabelEncoder()
enc4=LabelEncoder()
X.buying=enc1.fit_transform(X.buying)
X.maint=enc2.fit_transform(X.maint)
X.lug_boot=enc3.fit_transform(X.lug_boot)
X.safety=enc4.fit_transform(X.safety)

In [9]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                test_size=0.3,random_state=10)

In [17]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.9364161849710982

col_0    acc  good  unacc  vgood
outcome
acc       89     1     12      0
good       6    14      1      0
unacc      8     0    363      0
vgood      4     0      1     20